{% extends "bicicletas/base.html" %}
{% load static %}

{%block title %} Producto guardado {% endblock%}

{% block content%}
    <main>

        <div class="container">
            <div class="section">
                <h4 class="center">Producto guardado correctamente</h4>
                <br>
                <button type="submit" class="btn waves-effect, center" >
                    <i class="material-icons right">check</i>
                    <a href="index">Volver</a>
                </button>
            </div>


            </div>
        </div>
    </main>
{% endblock %}

{% block javascript%}

{% endblock %}